#
# gitignore lists all directories and files which should not be versionized!!! 
#

# these dirs and files shouldn't be versionized at any time in this project!!!
*.pyc
source/fortran/*.o
source/fortran/*.mod
source/fortran/CONVERT2*
*.tar*
run/ECMWF_ENV
run/workspace/*
run/jobscripts/*





