#
# gitignore lists all directories and files which should not be versionized!!! 
#

# these dirs and files shouldn't be versionized at any time in this project!!!
*.pyc
*.o
*.mod
*.tar*
*.ksh
mk_upload_tarball.sh
/work*
/src/CONVERT2
/python/ECMWF_ENV
